.aboutMetext{
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: plum;
}
.h1{
    font-size: 32px;
    color:black;
    background-color: rgb(97, 112, 128);
    text-align: center;
}
.myPhoto{
    width: 12px;
    height: 12px;
}